h1 {
	color: blue;
	background-color: red;
}

.errors {
	color: red;
}
#login {
	text-align: center;
	margin-bottom: 20px;
}
#logindetails {
	/*background-color: grey;*/
	margin: 200px;
}
#loginbackground {
	background-image: url(http://archive.beefjack.com/files/2011/10/video-game-clouds.jpg);
	background-size: cover;
	height: auto;
	width: auto;
}
